@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main.container {
    flex: 1;
    padding: 20px;
    padding-left: calc(82px + 20px); /* Alinhamento com a sidebar */
}

h1 {
    font-size: 24px;
    color: #3498db;
    margin-bottom: 20px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.user-card:hover {
    transform: scale(1.05);
}

.profile-pic-small {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #3498db;
    margin-bottom: 10px;
}

.user-info h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.badge-seguindo {
    background-color: #3498db;
    color: #fff;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.action-buttons {
    margin-top: auto;
}

.action-buttons a.btn-visualizar {
    display: block;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
}

.action-buttons a.btn-visualizar:hover {
    background-color: #2980b9;
}

.no-results {
    text-align: center;
    color: #888;
    font-size: 16px;
}

.no-results p {
    margin-top: 20px;
}





@media (max-width: 768px) {
    main.container {
        padding-left: 82px; /* Para garantir o alinhamento com a sidebar */
    }

    .user-card {
        width: calc(50% - 20px); /* Ajuste para telas menores */
    }

    .user-list {
        justify-content: center;
    }

    .action-buttons a.btn-visualizar {
        width: 100%;
    }
}
