.btn-criar-post {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.btn-criar-post:hover {
    background-color: #45a049;
}


h1{
    color: red;
}